# Dependências
node_modules/
dist/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Ignorar tudo dentro dessas pastas mas manter as pastas
uploads/payment-proofs/*
uploads/profiles/*

# Permitir que .gitkeep seja rastreado
!uploads/payment-proofs/.gitkeep
!uploads/profiles/.gitkeep
!uploads/payment-proofs/.gitignore
!uploads/profiles/.gitignore

# Prisma
generated/
